<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <h1>Se muestra la vista de futuros clientes</h1>
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="user: ${clientes}">
                <td th:text="${user.nombreCliente}"></td>
                <td th:text="${user.apellidosCliente}"></td>
                <td th:text="${user.email}"></td>
                <td><a th:href="@{/clientes/editar/{id} (id=${user.idCliente})}">Editar</a></td>
                <td><a th:href="@{/clientes/eliminar/{id} (id=${user.idCliente})}" onclick="if(!(confirm('Se eliminara un registro'))) return false">Eliminar</a></td>
            </tr>
        </tbody>
    </table>

<br>
<input type="button" value="Agregar Cliente" onclick="window.location.href='showFormAgregar'; return false;">
</body>
</html>