<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Se muestra la vista de futuros clientes</h1>
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
            <tr th:each="user: ${clientes}">
                <td th:text="${user.nombreCliente}"></td>
                <td th:text="${user.apellidosCliente}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>